*, *::before, *::after {
	box-sizing: border-box;
}

header ul {
	display: flex;
	flex-flow: row nowrap;
	padding: 25px;
}

header li {
	list-style-type: none;
	padding: 0 15px 0 0 ;
}

main {
	margin: 25px;
}

.container {
	padding: 0;
	margin: 0;
	display: flex;
	width: 100%;
}

.column {
	width: 50%;
}

form {
	display: flex;
	flex-flow: column;
	max-width: 400px;
	margin: 0 auto;
}

 td, th {
	width: 5%;
	padding: 5px 0;
}

td, th {
	border: black solid 1px;
	text-align: center;
}

tr:nth-child(2n){
	background-color: whitesmoke ;
}

.todolist-table td {
	width: inherit;
	text-align: left;
	padding: 10px;
}

input {
	margin-bottom: 5px;
	border: solid black 1px;
}


